.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    font-family: Roboto;
}

.top-bar {
    display: flex;
    align-items: center;
}

.top-bar-link {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
    color: inherit;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}
.logo {
    font-size: 30px;
    padding: 10px;
    /*margin-right: 10px;*/
    margin-bottom: 10px;
    white-space: nowrap;
}

.searchbar {
    width: 60%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px black solid;
}
button {
    padding: 5px;
    border: 1px black solid;
}
.search-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    width: 80%;
}

.seqinput {
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
}

.forminput {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#errorfield {
    color: red;
}

.sequence-field {
    padding-right: 20px;
}

.monospace {
    font-family: "Roboto Mono", monospace;
}

.identificationItem {
    border-left: black 2px solid;
    padding-left: 15px;
    margin-bottom: 30px;
    overflow: auto;
}
